ws-int-test/src/main/resources/hr.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:schema="http://menacheri.org/hr/schemas"
	xmlns:tns="http://menacheri.org/hr/definitions" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://menacheri.org/hr/definitions">

	<wsdl:types>
		<xs:schema targetNamespace="http://menacheri.org/hr/schemas"
			xmlns:hr="http://menacheri.org/hr/schemas">
			<xs:element name="HolidayRequest">
				<xs:complexType>
					<xs:all>
						<xs:element name="HolidayDates" type="hr:HolidayType" />
						<xs:element name="Employee" type="hr:EmployeeType" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="HolidayResponse">
				<xs:complexType>
					<xs:all>
						<xs:element name="Employee" type="hr:EmployeeType" />
						<xs:element name="Status" type="hr:RequestStatus" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="HolidayType">
				<xs:sequence>
					<xs:element name="StartDate" type="xs:date" />
					<xs:element name="EndDate" type="xs:date" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="EmployeeType">
				<xs:sequence>
					<xs:element name="Number" type="xs:integer" />
					<xs:element name="FirstName" type="xs:string" />
					<xs:element name="LastName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="RequestStatus">
				<xs:restriction base="xs:string">
					<xs:pattern value="SUCCESS|FAILURE" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="HolidayRequest">
		<wsdl:part element="schema:HolidayRequest" name="HolidayRequest" />
	</wsdl:message>
	<wsdl:message name="HolidayResponse">
		<wsdl:part element="schema:HolidayResponse" name="HolidayResponse" />
	</wsdl:message>
	<wsdl:portType name="HumanResource">
		<wsdl:operation name="Holiday">
			<wsdl:input message="tns:HolidayRequest" name="HolidayRequest" />
			<wsdl:output message="tns:HolidayResponse" name="HolidayResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HumanResourceBinding" type="tns:HumanResource">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Holiday">
			<soap:operation soapAction="http://menacheri.org/RequestHoliday" />
			<wsdl:input name="HolidayRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:input name="HolidayResponse">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HumanResourceService">
		<wsdl:port binding="tns:HumanResourceBinding" name="HumanResourcePort">
			<soap:address location="http://localhost:8080/holidayService/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>